<!--Start breadcrumb area-->
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>О нас</h1>
	</div>
</section>
<!--End breadcrumb area-->
<!--Start video gallery area-->
<section class="video-gallery-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-holder">
                    <h2>"Мы предоставляем полные и конкретные решения для каждого нашего клиента."</h2>
                    <div class="top-text">
                        <p>Начала свою деятельность в 1974 году с целью предоставления решений по ремонту клиентам и дилерам по всей территории США. Компания Repair Plus, расположенная в Нью-Йорке, США, стремится стать одной из лучших компаний по ремонту телефонов, ноутбуков и настольных компьютеров и ведущим поставщиком запасных компонентов и инструментов в США.</p>
                    </div>
                    <div class="bottom-text">
                        <p>Наше стремление привнести профессионализм, хорошее обслуживание и доверие в бизнес по ремонту и обслуживанию телефонов. Мы очень гордимся тем, что направляем на работу самых профессиональных технических специалистов.</p>
                        <div class="certified-logo">
                            <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/resources/certified-logo.png" alt="Certified Logo">
                        </div>
                    </div>
                    <div class="signature">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/resources/signature.png" alt="Signature">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="video-gallery">
                    <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/resources/video-gallery.jpg" alt="Awesome Video Gallery">
                    
                </div>
            </div>

        </div>
    </div>
</section>
<!--End video gallery area-->
<!--Start working process area-->
<section class="working-process-area" style="background-image:url(https://st.ourhtmldemo.com/new/RepairPlus/images/working-process/bg.jpg);">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Рабочий процесс</h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-iten text-center">
                    <div class="img-box dasded">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/working-process/1.png" alt="Awesome Image">
                        <div class="count">
                            <h3>1</h3>
                        </div>
                    </div>
                    <div class="text-box">
                        <h3>Поврежденное устройство</h3>
                        <p>Ремонт плюс предоставление широкого спектра услуг для вашего цифрового устройства</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-iten text-center">
                    <div class="img-box dasded">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/working-process/2.png" alt="Awesome Image">
                        <div class="count">
                            <h3>2</h3>
                        </div>
                    </div>
                    <div class="text-box">
                        <h3>Передать нам</h3>
                        <p>У нас более 48 филиалов в России, вы легко можете с нами связаться</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-iten text-center">
                    <div class="img-box dasded">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/working-process/3.png" alt="Awesome Image">
                        <div class="count">
                            <h3>3</h3>
                        </div>
                    </div>
                    <div class="text-box">
                        <h3>Восстановить устройство</h3>
                        <p>Наши специалисты быстро и качественно отремонтируют ваше устройство</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End working process area-->
<!--Start team area-->
<section class="team-area">
    <div class="container">
        <div class="sec-title-two">
            <h1>Наша команда</h1>
            <span class="border"></span>
        </div>
        <div class="row">
            <!--Start single team member-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/team/1.jpg" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Ричард Энтони</h3>
                        <span>Менеджер по обслуживанию</span>
                        <div class="text">
                            <p>С другой стороны, мы осуждаем возмущение и неприязнь к людям, деморализованным чарами.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/team/2.jpg" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Уильям Рикман</h3>
                        <span>Ремонтник</span>
                        <div class="text">
                            <p>Предвидьте боли и неприятности, которые обязательно последуют; и равные семена вины принадлежат долгу Гардерна.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/team/3.jpg" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Санни Вандоски</h3>
                        <span>Проверка качества</span>
                        <div class="text">
                            <p>Когда наша свобода выбора не ограничена и ничто не мешает нам делать то, что нам больше всего нравится.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single team member-->
            <!--Start single team member-->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-team-member">
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/team/4.jpg" alt="Awesome Image">
                    </div>
                    <div class="text-holder">
                        <h3>Чарльз Николс</h3>
                        <span>Менеджер филиала</span>
                        <div class="text">
                            <p>Определенные обстоятельства нас и также обязаны требованиям долга или бизнеса, это будет часто.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single team member-->
        </div>
    </div>
</section>
<!--End team area-->