<!--Start breadcrumb area-->
<section class="breadcrumb-area">
	<div class="container text-center">
		<h1>Контакты</h1>
	</div>
</section>
<!--End breadcrumb area-->
<!--Start contact area-->
<section class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="contact-info">
                    <div class="title">
                        <h2>Контакная информация</h2>
                    </div>
                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn active"><h4>Корпоративный офис</h4></div>
                            <div class="accord-content collapsed">
                                <ul class="contact-info-list">
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-home-page"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Улица Лесная,</span><br> дом 42, квартира 7, город Звездный</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-call-answer"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Звонок нам</span><br>+321 4567 89 012 &amp; 79 023</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-envelope"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Почта</span><br>Support@Repairplus.com</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-clock"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Время работы</span><br>ПН - СБ: 09.00 до 18.00</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                        <!--Start single accordion box-->
                        <div class="accordion accordion-block">
                            <div class="accord-btn"><h4>Региональный офис</h4></div>
                            <div class="accord-content">
                                <ul class="contact-info-list">
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-home-page"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Ул. Пушкин, </span><br> д.17, Московская область</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-call-answer"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Звонок нам</span><br>+321 4567 89 012 &amp; 79 023</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-envelope"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Почта</span><br>Support@Repairplus.com</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-clock"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Время работы</span><br>ПН - СБ: 09.00 до 18.00</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End single accordion box-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End contact area-->