

<!--Start rev slider wrapper-->     
<section class="rev_slider_wrapper">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>
            
            <li data-transition="fade">
                <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/slides/1.jpg" alt="" width="1920" height="540" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                
                <div class="tp-caption  tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="125" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    <div class="slide-content-box">
                        <h1>Добро пожаловать в RepairPlus <br>быстрый ремонт</h1>
                        <p>Используя оригинальные детали и компоненты, мы можем<br>восстановить ваши мобильные телефоны или iDevice до состояния новых.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="350" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2300">
                </div>
            </li>
            <li data-transition="fade">
                <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/slides/2.jpg" alt="" width="1920" height="540" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                
                <div class="tp-caption tp-resizeme"
                    data-x="right" data-hoffset="0" 
                    data-y="center" data-voffset="-24" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"  
                    data-responsive_offset="on"
                    data-start="500">
                    <div class="slide-content-box">
                        <h1>Заменим качественную <br>фурнитуру.</h1>
                        <p>Используя оригинальные детали и компоненты, мы можем<br>восстановить ваши мобильные телефоны или iDevice до состояния новых.</p>
                    </div>
                </div>
            </li>
            <li data-transition="fade">
                <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/slides/3.jpg" alt="" width="1920" height="540" data-bgposition="top center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="1">
                
                <div class="tp-caption  tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="125" 
                    data-transform_idle="o:1;"         
                    data-transform_in="x:[-175%];y:0px;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" 
                    data-mask_in="x:[100%];y:0;s:inherit;e:inherit;" 
                    data-splitin="none" 
                    data-splitout="none"
                    data-responsive_offset="on"
                    data-start="700">
                    <div class="slide-content-box">
                        <h1>Мы можем починить сломанные<br>мобильные очки</h1>
                        <p>Используя оригинальные детали и компоненты, мы можем<br>восстановить ваши мобильные телефоны или iDevice до состояния новых.</p>
                    </div>
                </div>
                <div class="tp-caption tp-resizeme" 
                    data-x="left" data-hoffset="0" 
                    data-y="top" data-voffset="350" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2300">
                </div>
                <div class="tp-caption tp-resizeme" 
                    data-x="left" data-hoffset="173" 
                    data-y="top" data-voffset="350" 
                    data-transform_idle="o:1;"                         
                    data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;" 
                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"                     
                    data-splitin="none" 
                    data-splitout="none" 
                    data-responsive_offset="on"
                    data-start="2600">
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End rev slider wrapper--> 
    
<!--Start call to action area-->
<section class="call-to-action-area">
    <div class="container">
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a >
                        <h5>Ремонт смартфонов</h5>
                    </a>
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/callto-action/1.jpg" alt="Awesome Image">
                        
                    </div>
                    <div class="text-holder">
                        <p>Мы специализируемся на ремонте телефонов Apple iPhone, iPad, iPod, Samsung, Galaxy, Sony, HTC, Nexus, Motorola, Blackberry и планшетов.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a >
                        <h5>Планшет & Ipad ремонт</h5>
                    </a>
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/callto-action/2.jpg" alt="Awesome Image">
                        
                    </div>
                    <div class="text-holder">
                        <p>Если у вас возникли какие-либо проблемы с планшетами / iPad, пожалуйста, просмотрите указанные категории в соответствии с требованиями.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4">
                <div class="single-item text-center">
                    <a >
                        <h5>ПК & Mac ремонт</h5>
                    </a>
                    <div class="img-holder">
                        <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/callto-action/1.jpg" alt="Awesome Image">
                       
                    </div>
                    <div class="text-holder">
                        <p>Мы специализируемся на предоставлении услуг по ремонту настольных компьютеров на месте и поддержке сети для предприятий любого размера.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End call to action area-->

<!--Start categories area-->
<section class="categories-area" style="background-image:url(https://st.ourhtmldemo.com/new/RepairPlus/images/resources/categories-bg.jpg);">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Категории ремонта</h1>
        </div>
        <div class="row">
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-apple-logo"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h5>Apple iPhone</h5>
                        <p>Руководства по разборке и замене оригинального iPhone X, iPhone 11, iPhone 15 ...</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-android"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h5>Android Phone</h5>
                        <p>Мы рады предложить широкий спектр услуг по ремонту Android, которые мы можем отремонтировать.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-windows"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h5>Windows Phone</h5>
                        <p>Руководства по ремонту и разборке многих мобильных телефонов с ОС Windows от производителей.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-technology-2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h5>Blackberry Phone</h5>
                        <p>Вам нужен ремонт Blackberry? Ежедневно мы выполняем большой объем ремонтов.</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-music-headphones"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h5>Phone Accessory</h5>
                        <p>Если у вас возникли проблемы с аксессуарами для вашего телефона, не волнуйтесь, мы отремонтируем...</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
            <!--Start single item-->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-item">
                    <div class="icon-holder">
                        <div class="icon-box">
                            <div class="icon">
                                <span class="flaticon-desktop-monitor"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-holder">
                        <h5>ПК</h5>
                        <p>Также мы выполняем все виды ремонта настольных компьютеров, у нас есть опытные специалисты...</p>
                    </div>
                </div>
            </div>
            <!--End single item-->
        </div>
    </div>
</section>
<!--End categories area-->

<!--Start about us area-->
<section class="about-us-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <div class="sec-title-two">
                        <h1>О нас</h1>
                        <span class="border"></span>
                    </div>
                    <ul>
                        <li>
                            <div class="img-holder">
                                <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/1.jpg" alt="Awesome Image">
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/2.jpg" alt="Awesome Image">
                            </div>
                        </li>
                        <li>
                            <div class="img-holder">
                                <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/about/3.jpg" alt="Awesome Image">
                            </div>
                        </li>
                    </ul>
                    <div class="text-holder">
                        <p>Наше стремление привнести профессионализм, хорошее обслуживание и доверие в бизнес по ремонту и обслуживанию телефонов. Мы очень гордимся тем, что посылаем к вам на телефон самых профессиональных технических специалистов для устранения неполадок. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="choose-us-content">
                    <div class="sec-title-two">
                        <h1>Почему именно мы?</h1>
                        <span class="border"></span>
                    </div>
                    <ul>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-tool"></span>
                            </div>
                            <div class="text-holder">
                                <h4>Бесплатная диагностика</h4>
                                <p>Mr.Fixit — это быстрый и простой способ проверить настройки ваших мобильных телефонов, настольных компьютеров и ноутбуков, аксессуаров и т. д. Мы сделали это бесплатно.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-wrench"></span>
                            </div>
                            <div class="text-holder">
                                <h4>Процесс быстрого ремонта</h4>
                                <p>Процесс ремонта быстрый и удобный, и наши специалисты Mr.Fixit ремонтируют его, если вы видите символ телефона в верхнем левом углу экрана.</p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="flaticon-customer-support"></span>
                            </div>
                            <div class="text-holder">
                                <h4>24/7 поддержка клиентов</h4>
                                <p>Техподдержка 24x7 — одна из лучших услуг в Mr.Fixit. Круглосуточная техническая поддержка, предоставляющая качественные услуги в любое время и в любой точке мира.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about us area-->





<!--Start testimonial area-->
<section class="testimonial-area">
    <div class="container">
        <div class="sec-title text-center">
            <h1>Отзывы</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-carousel">
                    <!--Start single item-->
                    <div class="single-item text-center">
                        <div class="img-holder">
                            <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/testimonial/1.png" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <h5>Устранение повреждений, вызванных водой</h5>
                            <p>Отличное обслуживание и быстрый ремонт, и я сохраняю свой телефон. Я чувствую себя очень хорошо.</p>
                        </div>
                        <div class="client-info">
                            <div class="name pull-left">
                                <h6>Иванов Александр</h6>
                                
                            </div>
                            <div class="rating-box pull-right">
                                <p>4.5<i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item text-center">
                        <div class="img-holder">
                            <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/testimonial/2.png" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <h5>Ремонт разбитого стекла</h5>
                            <p>Отличный сервис, так как это был второй ремонт в компании Mr.Fixit, отличное общение.</p>
                        </div>
                        <div class="client-info">
                            <div class="name pull-left">
                                <h6>Петров Дмитрий</h6>
                            </div>
                            <div class="rating-box pull-right">
                                <p>5.0<i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                    <!--Start single item-->
                    <div class="single-item text-center">
                        <div class="img-holder">
                            <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/testimonial/3.png" alt="Awesome Image">
                        </div>
                        <div class="text-holder">
                            <h5>Устранение повреждений, вызванных водой</h5>
                            <p>Отремонтировал мой iPhone 6s путем тщательного осмотра и постоянно обновляю его.</p>
                        </div>
                        <div class="client-info">
                            <div class="name pull-left">
                                <h6>Смирнова Екатерина</h6>
                            </div>
                            <div class="rating-box pull-right">
                                <p>5.0<i class="fa fa-star" aria-hidden="true"></i></p>
                            </div>
                        </div>
                    </div>
                    <!--End single item-->
                </div>
            </div>
        </div>
    </div>
</section>
<!--End testimonial area-->
