@model LoginViewModel

<!--Start breadcrumb area-->
<section class="breadcrumb-area">
    <div class="container text-center">
        <h1>Вход</h1>
    </div>
</section>
<!--End breadcrumb area-->

<section class="team-area">
    <div class="container">
        <form asp-action="Login">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label">Логин</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-group">
                <button class="btn btn-primary mt-2">Вход</button>
            </div>
        </form>
    </div>
</section>