<!--Start footer area-->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
                <div class="single-footer-widget pd-bottom">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="https://st.ourhtmldemo.com/new/RepairPlus/images/footer/footer-logo.png" alt="Awesome Footer Logo">
                        </a>
                    </div>
                    <div class="repairplus-info">
                        <p class="top">Repairplus — это 41-летний опыт цифрового ремонта прямо на вашем устройстве. Наши специалисты готовы помочь вам в работе наилучшим образом.</p>
                        <p>Наше стремление привнести профессионализм, хорошее обслуживание и доверие в бизнес по ремонту и обслуживанию телефонов.</p>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <div class="col-lg-8 col-md-9 col-sm-12 col-xs-12">
                <div class="footer-widget">
                    <div class="row">
                        <!--Start single footer widget-->
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="single-footer-widget">
                                <div class="title">
                                    <h3>Быстрый переход</h3>
                                </div>
                                <ul class="services-list">
                                    <li><a asp-controller="Home" asp-action="Index">Главная страница</a></li>
                                    <li><a asp-controller="Home" asp-action="About">О нас</a></li>
                                    <li><a asp-controller="Home" asp-action="Contact">Контакты</a></li>
                                    <li><a asp-controller="Order" asp-action="Create">Оформить заказ</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--Start single footer widget-->
                       
                        <!--Start single footer widget-->
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="single-footer-widget contact-info-widget">
                                <div class="title">
                                    <h3>Контакты</h3>
                                </div>
                                <ul class="footer-contact-info">
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-home-page"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Московская область</span><br>Ул. Пушкин, д.17</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-call-answer"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Служба поддержки</span><br>1800-56-78-9012</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-envelope"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Почта</span><br>Support@Repairplus.com</h5>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon-holder">
                                            <span class="flaticon-clock"></span>
                                        </div>
                                        <div class="text-holder">
                                            <h5><span>Время работы</span><br>ПН - СБ: 09.00 до 18.00</h5>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End single footer widget-->
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</footer>
<!--End footer area--> 